My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -48
      ],
      "id": "dab45e8f-1d38-4313-ac4b-85b2e0476391",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "126qWHJEG5EDzi9PzenE7dsshMdMN7ZSUphbWnyICZrQ",
          "mode": "list",
          "cachedResultName": "email sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/126qWHJEG5EDzi9PzenE7dsshMdMN7ZSUphbWnyICZrQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/126qWHJEG5EDzi9PzenE7dsshMdMN7ZSUphbWnyICZrQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        -48
      ],
      "id": "1f63d3a9-27c6-4ca1-971d-d163d446ed34",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gwzhD8zzwixquVRm",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a344d1db-9c8c-41c1-8042-7df610078967",
              "leftValue": "={{ $json[\"Send Status\"] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        -48
      ],
      "id": "a7697e13-0c86-4370-9aaa-3cb18782555a",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        -48
      ],
      "id": "25b43d5b-916c-40bf-acbf-985efd7847cb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "126qWHJEG5EDzi9PzenE7dsshMdMN7ZSUphbWnyICZrQ",
          "mode": "list",
          "cachedResultName": "email sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/126qWHJEG5EDzi9PzenE7dsshMdMN7ZSUphbWnyICZrQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 191288320,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/126qWHJEG5EDzi9PzenE7dsshMdMN7ZSUphbWnyICZrQ/edit#gid=191288320"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        -128
      ],
      "id": "610de722-aba7-43f1-b277-f9f15b54e648",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gwzhD8zzwixquVRm",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -128
      ],
      "id": "2e3ae74b-0b9b-402f-89ee-0e4fb0c43f2d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        -48
      ],
      "id": "33b0efd7-1a5d-4e8f-bf22-baf468d29e04",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75c4034f-68b1-4b05-b042-7c803faf958a",
              "name": "body",
              "value": "={{ $json.body.replace(\"[name]\", $json[\"Name\"] && $json[\"Name\"].trim() !== '' ? $json[\"Name\"].trim() : \"there\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -48
      ],
      "id": "08450789-5ba6-4402-a708-e3a5ccc47e4a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": true,
          "senderName": "Ayesha"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1456,
        -48
      ],
      "id": "bda8f98e-7c5d-495c-b04b-9b24663e111c",
      "name": "Send a message",
      "webhookId": "288a9226-91bd-4ae8-aa2c-71a6cc3be28b",
      "credentials": {
        "gmailOAuth2": {
          "id": "l8cfLpyl5fWZ3AYp",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a495a36a-c530-47f2-99d5-21735c1b6f89",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40a20f3ed360bdd42162c92814301a09b28bf0d29d4f8a4305aff29443517d53"
  },
  "nodeGroups": [],
  "id": "cmkXyMa4kF2wuyOQ",
  "tags": [
    {
      "updatedAt": "2026-06-16T15:52:57.822Z",
      "createdAt": "2026-06-16T15:52:57.822Z",
      "id": "XIc42drYds6iG5Nd",
      "name": "email-sender"
    }
  ]
}